@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* ========== CSS RESET ========== */

/* Reset margin, padding, border, và thiết lập box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Thiết lập font mặc định dễ đọc và scale theo rem */
html {
  scroll-behavior: smooth;
}

/* Kế thừa font */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #111;
  -webkit-font-smoothing: antialiased;
}

/* Xóa gạch chân mặc định của link */
a {
  text-decoration: none;
}

/* Ảnh và video hiển thị đúng kích thước */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Xóa list-style mặc định */
ul,
ol {
  list-style: none;
}

/* Button có con trỏ pointer */
button {
  cursor: pointer;
}

/* Tắt highlight khi nhấn (tuỳ chọn) */
*:focus {
  outline: none;
}

.text-primary-color,
.text-heading-hover:hover {
  color: #37d4d9;
}

.bg-primary-color,
.bg-primary-hover:hover {
  background-color: #37d4d9;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@keyframes orbit-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Khi hover card, toàn bộ cụm icon + hai chấm xoay */
.feature-card:hover .orbit {
  animation: orbit-spin 1.2s ease-in-out;
}
